@font-face {
    font-family: "icons";
    src: url("../static/fonts/icons.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    --main-color     : #242424;
    --secondary-color: #e292e8;
    --thirdy-color   : #163da8;
    --fourty-color   : #64de74;
}

.icons{
    font-family: icons;
}

#container{
    width: 100dvw;
    height: 100dvh;

    display: flex;
}

#left_pannel{
    height: inherit;
}

#main_pannel{
    flex-grow: 1;
    height: inherit;

    background-color: white;

    display: flex;
}

#hot_bar{
    width: inherit;
    height: 90px;

    background-color: red;
}

#wrapper{
    width: inherit;
    flex-grow: 1;

    background-color: green;
}

.textField{
    height: 450px;

    background-color: black;
}